<h1 class="page-header"> <%= @username %>'s Pools</h1>

<h2> View all Characters in Tournaments</h2>

<table>
	<tr>
  <th style="padding:0 15px 0 15px;"><%= sortable "Game: Character" %></th>
</tr>
				</table>


<% @pools.each do |pol| %>
     <% @check = pol.game_id %>
    <% @chk = Game.find(@check).name  %>
     <% @t = Character.where(:name => @chk).sample(2) %>
    <% @t.each do |rope| %>
    <div class="col-md-15">
	  <%= rope.name + ':' %> 



    <%= rope.character %>


      <%= image_tag rope.image_url, class: "img-responsive" %>

       <% end %>
<% end %>


     <%= link_to "View Your Pools' Character", pool_url(session[:user_id]),  class: 'navbar-brand' %> 




 <%= link_to "Back To My Profile", user_url(session[:user_id]),  class: 'navbar-brand' %> 