
<h2> Update Your Registration </h2>

<label> Player Info:</label>


<%= form_tag @reg, :as => :reg, :url => registrations_path, :html => {:multipart => true, :method => :put} do  -%>

  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :gamertag %>
  <%= text_field_tag :gamertag %>
  <br>
  <%= label_tag :address %>
  <%= text_field_tag :address %>
  <br>

<br>
  <!-- Issue: need this to take multiple registrations at once, checkbox is for Solved, Issue 2: game[].id if i want -->
<div class="form_for">
    <label for="tournament.game[]">Tournaments:</label>
    <% for tournament in Game.find(:all)  %>
      <br><%= check_box_tag "game[]", tournament.id %>
      <%= tournament.game.humanize %>
    <% end %>
</div>   


<br>

<%= submit_tag "Save Changes"%>

<% end %>
