

<h2> Tournament Registration </h2>

<label> Player Info:</label>

<%= form_tag "/registrations" do %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :gamertag %>
  <%= text_field_tag :gamertag %>
  <br>
  <%= label_tag :address %>
  <%= text_field_tag :address %>
  <br>

<br>
  <!-- Issue: need this to take multiple registrations at once, checkbox is for Solved, Issue 2: game[].id if i want -->
<div class="form_for">
    <label for="tournament.name[]">Tournaments:</label>
    <% for tournament in Game.find(:all)  %>
      <br><%= check_box_tag "game[]", tournament.id %>
      <%= tournament.name.humanize %>
    <% end %>
</div>   


<br>

<%= submit_tag "Submit!"%>

<% end %>

<%= link_to "Back To My Profile", user_url(session[:user_id]),  class: 'navbar-brand' %>