<!DOCTYPE html>
<html>
<head>
  <title>Tournament</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if session[:user_id] %>
          <li>Hello! <%= User.find(session[:user_id]).name %></li>
        <% end %>

        <li><%= link_to "Event", events_url %></li>
        <li><%= link_to "Tournaments", tournaments_url %></li>
        <li><%= link_to "Pools", pools_url %></li>
        
          <li><%= link_to "Sign Up", new_user_url %></li>
          <li><%= link_to "Sign In", new_session_url %></li>
          <li><%= link_to "Sign Out", logout_url %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<%= yield %>

</body>
</html>
